<!-- <header>
  <div class="container">
    <div class="six columns">
      <div class="title">Dinasty</div>
    </div>
    <div class="six columns">
      <div *ngIf="!(af.auth | async)?.auth">
        <a role="button" class="u-pull-right" (click)="login()">Log In with Facebook</a>
      </div>
      <div *ngIf="(af.auth | async)?.auth">
        <span> {{ (af.auth | async)?.auth?.email }} </span>
        <a role="button" class="u-pull-right" (click)="logout()">Log Out</a>
      </div>
    </div>
  </div>
</header> -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dinasty</a>
    </div>

    <div class="navbar-right">
      <div *ngIf="!(af.auth | async)?.auth">
        <a role="button" class="btn btn-default navbar-btn" (click)="login()">Log In with Facebook</a>
      </div>
      <div *ngIf="(af.auth | async)?.auth">
        <span class="navbar-text">
          Signed in as <a href="#" class="navbar-link">{{ (af.auth | async)?.auth?.email }}</a>
        </span>
        <a role="button" class="btn btn-default navbar-btn" (click)="logout()">Log Out</a>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>

